<!-- <md-toolbar> -->
		<!-- <div class="footerHomeButton stackedDiv" style="float: left">
			
		</div> -->
		<div align="center"
			style="padding-left: 0%;">
			Managed by the Centers for Medicare
			&amp; Medicaid Services<br> 7500 Security Boulevard, Baltimore,
			MD 21244
		</div>
		<div align="right"
			style="padding-left: 0%;">
			<img alt="HHS Logo"
				src="assets/images/HHSLogo_White.png"
				width="60" height="60" style="margin-top: -5%;margin-right: 1%;">
		</div>
<!-- </md-toolbar> -->